.idronam-user {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    background: var(--color-white);
}
.idronam-user-title {
    width: 50%;
}
.idronam-user-title h1 {
    font-size: 56px;
    font-weight: 100;
    text-align: left;
  }
.idronam-user-title h2 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 35px;
}
.idronam-user-image {
    width: 50%;
    display: flex;
    justify-content: center;
}
.idronam-user-title-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
  }
  .idronam-user-title-list li {
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border-radius: var(--card-border-radius);
    text-align: center;
  }
  
  .idronam-user-title-list li:hover {
    background: var(--color-primary);
    border: none;
    color: var(--color-white);
  }

img {
    /* display: block; */
    width: 100%;
}